# Ignore virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.sqlite3

# Database files
*.sqlite3

# Logs
*.log

# System files
.DS_Store

# IDE files
.vscode/

#environment file
.env